@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:black;
    --light:white;
    --mild-dark:rgb(77, 77, 77);
    
}
    
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}



            /* Navbar */



            
nav{
    width: 100vw;
     position: fixed;
     background: rgba(65, 65, 65, 0.527);
     z-index: 1;    
     justify-content: center;
}

nav .left a{
    color:var(--light);
    text-decoration: none;
    margin-right: 2.5rem;
    text-transform: uppercase;
    transition:all .3s ease;
}
nav .logo{
    margin-right: 3rem;
    border-radius: 10px;
    padding-top: 4px;
}
nav .left a:hover{
    color:var(--primary);
}
nav .right{
    margin-left: 8rem;
    margin-right: 1rem;
}
.logo img{
    width: 12rem;
}




           /* Header Section */


body .header-background{
    background:var(--light);
}
header{
    /* background:rgb(20, 20, 20); */
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8) ),url(image/action.jpg);
    background-size: 100%;
    /* background-position: center; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0% 100%, 0% 100%, 0% 0%);
    
}
.container{
    max-width: 1152px;
    padding: 3rem 15px;
    margin: 0 auto;
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

.hero img{
    width: 395px;
}
.hero .right{
    color:var(--light);
}
.hero .right h6{
    font-size: 1.8rem;
    color: var(--primary);
    margin-bottom: 0.8rem;
    margin-top: 4rem;
}
.hero{
    margin: 3rem 3rem 0rem 3rem;
}
.hero .right h1{
    font-size:4rem;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 1.5rem;
}
.hero .right{
    margin-top:-7rem;
}
.hero .left img{
    margin-left: 2.5rem;
}


            /* About Section */


section.about{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 320px;
    padding-left:120px;
}
section.about a img{
    width: 40px;
    margin: 5px;
}
.about h1{
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.about h1 span{
    color: var(--primary);
}
.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p{
    color:var(--mild-dark);
    font-family:'lato', 'poppines';
    line-height: 1.5;
    margin-bottom: 1rem;
}
.social{
    display: flex;
    margin-top: 2rem;
    padding: 0px;
    margin-bottom: 0px;
}
.social img{
    cursor: pointer;
    box-shadow: 6px 6px 5px #aaaaaa;
}
.social a:hover{
    background:rgb(230, 230, 230);
}



            /* Services Section */




.section-heading + p{
    color:var(--mild-dark);
    font-family: 'lato','poppins';
    text-align: center;
    margin-bottom: 7rem;
}
.section-heading span{
    color: var(--primary);
}
section.services{
    background:rgb(219, 219, 219);

}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    width: 950px;
    margin: 0 auto;
}
section.services .card-wrapper .card{
    background:var(--light);
    padding: 2.8rem 2rem 1.8rem 2rem;
    position: relative;
    text-align: center;
    transition: all .3s ease;
    box-shadow: 0px 0px 5px 5px #aaaaaa;
}
section.services .container{
    padding: 5rem 0;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -2.5rem;
    left:50%;
    transform: translateX(-50%);
    background:rgb(192, 248, 255);
    padding: 5px;
    border-radius: 10px;
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .6rem;
}
section.services .card-wrapper .card p{
    font-family: 'lato', 'poppins';
    color:var(--mild-dark);
    line-height: 1.5;
}
section.services .card-wrapper .card:hover{
    background:var(--mild-dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:var(--light);
}



            /* Call-to-action Section */



body .action-background{
    background: var(--light);
}            
section.call-to-action{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8) ),url(image/action.jpg);
    color:var(--light);
    padding: 5rem 0 8rem 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 85%, 0% 100%, 0% 100%, 0% 0%);
    margin-bottom: -3rem;
}
section.call-to-action p{
    margin-bottom: 3rem;
    font-family: 'lato', 'poppins';
}


            /* Client Section */




section.client .container{
    padding-top: 5rem;
}
section.client{
    margin:4rem 0;
}
section.call-to-action h1{
    font-size: 2rem;
    margin-bottom: .5rem;
}

section.client .slider .slide img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 8px 3px gray;
}
section.client .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 0 15rem; */
    
}
section.client .slider .slide p{
    font-family: 'lato', 'poppins';
    color:var(--mild-dark);
    margin-bottom: 1rem;
    line-height: 1.5;
}
section.client .slider .slide span{
    font-size: .8rem;
}
section.client .container{
    margin-bottom: 3rem;
}
.slider{
    width: 650px;
    height: 420px;
    display: flex;
    overflow-x: auto;
    margin: .5rem auto;
    margin-top: -2rem; 
}
.slide {
    width: 600px;
    flex-shrink: 0;
    height: 100%;
    margin: 0 2rem;
}

.slider::-webkit-scrollbar {
    background-color:var(--mild-dark);
    border-radius: 10px;
}
.slider::-webkit-scrollbar-thumb {
    background-color:var(--primary);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
}



            /* Contact US */



section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 2rem;
    margin-top: -3rem;
}
section.contact .card-wrapper .card h2{
    font-weight: 300;
    margin-bottom: 0.2rem;
}
section.contact .card-wrapper .card h6{
    font-size: .8rem;
    color: var(--mild-dark);
    font-weight: 300;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
    
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: .5rem;
    border: 1px solid lightgray;
    font-size: 0.8rem;

}
section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
}
section.contact .input-wrap-2 textarea{
    padding: .5rem;
    border: 1px solid lightgray;
    font-size: 0.9rem;
} 
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 1rem;
}
section.contact .container{
    margin: 0 270px;
    padding-top: 5rem;
}



            /* Footer Section */



footer{
    background: var(--dark);
    text-align: center;
    margin-top: 6rem;
    padding-top:3rem;
    padding-bottom: 1rem;
}
footer img{
    width: 150px;
    margin-bottom: 1.5rem;
}
footer .footer-social img{
    width: 24px;
    margin: 1rem;
}
footer p{
    color: lightgray;
    margin: 1.5rem;
}
.hamburger{
    display: none;
}

.hamburger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background:var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.close{
    position: fixed;
    top: 40px;
    right: 40px;
    border: none;
    background:none;
    outline: none;
    cursor: pointer;
}
.mobile-nav ul{
    list-style: none;
}
.mobile-nav ul li a{
    color: var(--dark);
    text-decoration: none;
    font-size: 2rem;
    font-family:lato;
}
.mobile-nav ul li{
    margin-bottom: 1rem;
}



            /* Media Query for Tablet */




@media (max-width:1056px){
    #main-nav{
        display: none;}


    .site-main-wrapper{
        position: relative;
    }
    .hamburger{
        display: block;
        position: absolute;
        top:40px;
        right:40px;
        z-index: 11;
        background:none;
        outline: none;
        border: none;
        cursor: pointer;  
    }
    section.services .card-wrapper{
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        margin: 0 5rem;
    }
    /* section.services .card-wrapper .card{
        margin: 0 2rem;  
    } */
    .hero img{
        width: 300px;
    }
    .hero .left img {
        margin-left: 0rem;
    }
    .hero .right h1 {
        font-size: 2rem;
    }
    .hero .right h6 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    header{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 27% 90%, 0% 100%, 0% 100%, 0% 0%);
    }
    .hero .right{
        margin-left: 1rem;
    }
    section.about .about-me-img {
        height: 260px;
        padding-left: 50px;
    }
    section.contact .container{
        margin: auto;
    }

}



            /* Media Query for Mobile */




@media(max-width:576px){
    .slider{
        width: 350px;
        height: 100%;
        display: block;
        justify-content: center;
    }
    .slide {
        width: 350px;
        height: 100%;
        margin: 2rem 0
    }
    section.client .slider .slide p{
        margin-bottom:0;
    }
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 93%, 0% 100%, 0% 100%, 0% 0%);
    }
    .hero .right{
        position: absolute;
        top: 240px;
        padding-left:1rem;
        padding-right: 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8))  
    }
    .hero .right h1{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .hero .right p{
        margin-bottom: 2rem;
    }
    .hero .left{
        margin-top: -1rem;
        margin-right: -8rem;
        margin-bottom: 4rem;  
    }
    .inner-wrapper{
        flex-direction: column;
    }
    section.about .about-me-img {
        height: 260px;
        padding-left: 0px;
    }
    .about-center{
        text-align: center;
        margin-top: 3rem;
    }
    section.about{
        padding: 2rem;
    }
    .social{
        justify-content: center;
    }
    section.services .card-wrapper {
        width: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5rem;
        padding: 0 1rem;
    }
    section.services .card-wrapper .card{
        padding: 2.5rem 0 1rem 0;
    }
    section.services p{
        padding: 0 2rem;
    }
    section.services .container{
        padding: 3rem 0;
    }
    section.call-to-action h1{
        font-size: 1.5rem;
    }
    section.call-to-action {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 88%, 0% 100%, 0% 100%, 0% 0%);
        padding: 3rem 2rem 5rem 2rem;
    }
    section.client .container {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    section.client p{
        margin-bottom: 2rem;
    }
    section.client .slider .slide img{
        margin-bottom: 2rem;
    }
    section.contact .container{
        padding-top: 20px;
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .card-wrapper .card img {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    section.contact p{
        margin-bottom: 2rem;
    }
    footer{
        margin-top: 1rem;
    }
    footer p {
        font-size: 12px;
        color: lightgray;
        margin: 1rem;
    }

}